.page{
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(199, 199, 199);
  font-family: serif;
  font-size: xx-large;
  min-height: 100vh;
  font-style: italic;
}
.column {
  float: left;
  width: 25%;
}
.row{
  background-color: rgb(199, 199, 199);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.pic {
  width: 43%;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 20px;
}

.about{
  background-color: rgb(199, 199, 199);
  font-family: serif;
  font-size: x-large;
  line-height: 35px;
  padding: 40px 190px 40px 190px;
  color:white;
}
#aboutMe{
  margin-bottom: 30px;
  font-size: xx-large;
}
#title{
  background-color: rgb(190, 190, 190);
  color: white;
  margin: 3px 0 20px 0;
  padding: 0px 10px 0px 10px;
  border-radius: 40px;
  font-style: italic;
  font-size: large;
  font-weight: bold;
  box-shadow: 5px 10px #888888;
}
.info{
  font-weight: bolder;
  background-color: rgb(195, 195, 195);
  color:white;
  margin-top: 4px;
  border-radius: 50px;
  padding:0 20px 0 20px;
  box-shadow: 5px 10px #888888;
}

#sk{
  font-size: xx-large;
  font-weight: bolder;
}

.skills-card{
  background-color: rgb(199, 199, 199);
  color: white;
  font-family: serif;
  line-height: 30px;  
  padding: 30px 20px 10px 30px;
  min-height: 100vh;
}
#f{
  font-size: x-large;
  font-weight: bold;
}


